<div id="window-boundary"></div>
<div class="window" cdkDragBoundary="body" cdkDrag>
    <section class="header" cdkDragHandle>
        <menu class="buttons">
            <li *ngIf="hrefClose !== ''; else elseButton">
                <a routerLink="/">
                    <fa-icon [icon]="faCircleXmark" class="button close"></fa-icon>
                </a>
            </li>
            <li *ngIf="hrefBack !== ''; else elseButton">
                <a [routerLink]="hrefBack">
                    <fa-icon [icon]="faCircleChevronLeft" class="button back"></fa-icon>
                </a>
            </li>
            <li>
                <fa-icon [icon]="faCircle" class="button"></fa-icon>
            </li>
            <ng-template #elseButton>
                <li>
                    <fa-icon [icon]="faCircle" class="button"></fa-icon>
                </li>
            </ng-template>
        </menu>
        <div class="filler"></div>
        <span class="title">{{ title }}</span>
        <div class="filler"></div>
        <div class="buttons"></div>
    </section>
    <main class="contents">
        <ng-content></ng-content>
    </main>
</div>
