.socials
    display: flex
    gap: 0.75em
    align-items: center

    a
        color: var(--dracula-white)
        
    a:hover
        color: var(--dracula-green)
        animation: 1.75s twitch infinite

fa-icon
    font-size: 2.0em
    
    