<nav-bar></nav-bar>
<app-window title="Hello, world!">
    <h1>Hi, I'm Brian!</h1>
    <p>I'm a Cyber Security Analyst protecting the world from devistation. I am passionate about software development and network security. My current project is a web app that you can use to build structured incident reports from event logs or other security artifacts.</p>
    <br>
    <section class="socials">
        <h6>Connect with me!</h6>
        <a href="https://www.linkedin.com/in/brian-reeder/" aria-label="LinkedIn" target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://github.com/brian-reeder" aria-label="GitHub" target="_blank">
            <fa-icon [icon]="faGithubSquare"></fa-icon>
        </a>
        <a href="mailto:brian.reeder@outlook.com" aria-label="E-Mail" target="_blank">
            <fa-icon [icon]="faSquareEnvelope"></fa-icon>
        </a>
    </section>
</app-window>