h2,hr
    color: #50fa7b
    border-color: #50fa7b

.notes > ul
    list-style: none
    display: flex
    flex-wrap: wrap
    gap: 10px
    > li
        width: 370px

        > *
            margin: 0.75em 0

        > ul
            display: flex
            flex-direction: column
            gap: 12px
            > li > p
                display: inline-block

pre
    white-space: pre-wrap