<ul class="flex-container">
<!--
    <div *ngIf="path?.includes('about-me'); else elseAboutMe">
        <nav-folder [selected]="true">About Me</nav-folder>
    </div>
    <ng-template #elseAboutMe>
        <nav-folder link="/about-me">About Me</nav-folder>
    </ng-template>
    <div *ngIf="path?.includes('blog'); else elseBlog">
        <nav-folder [selected]="true">Blog</nav-folder>
    </div>
    <ng-template #elseBlog>
        <nav-folder link="/blog">Blog</nav-folder>
    </ng-template>
    <div *ngIf="path?.includes('notes'); else elseNotes">
        <nav-folder [selected]="true">Notes</nav-folder>
    </div>
    <ng-template #elseNotes>
        <nav-folder link="/notes">Notes</nav-folder>
    </ng-template>
-->
    <li *ngFor="let page of pages">
            <nav-folder *ngIf="!path?.includes(page['path']); else elseFolder"
             link="/{{page['path']}}">{{ page['title'] }}</nav-folder>
        <ng-template #elseFolder>
                <nav-folder [selected]="true">{{ page['title'] }}</nav-folder>            
        </ng-template>
    </li>
</ul>