a.shortcut
    text-decoration: none
    
.shortcut.selected
    color: var(--dracula-blue)

.shortcut
    background-color: rgba(68,71,90, 0.8)
    color: var(--txt-01)

    padding: 5px
    border-radius: 8px

    display: flex
    flex-direction: column
    align-items: center

.shortcut:hover
    box-shadow: var(--hover-shadow)
    transform: translateX(5px)

fa-icon
    font-size: 2rem
