@font-face
    font-family: "Red Hat Display"
    src: url("/assets/RedHatDisplay-VariableFont_wght.ttf") format("TrueType")
    font-display: optional
@font-face
    font-family: "Red Hat Text"
    src: url("/assets/RedHatText-VariableFont_wght.ttf") format("TrueType")
    font-display: optional
@font-face
    font-family: "Red Hat Mono"
    src: url("/assets/RedHatMono-VariableFont_wght.ttf") format("TrueType")
    font-display: optional

*,
*::before,
*::after
    box-sizing: border-box
    margin: 0
    padding: 0

    --dracula-blue: #8be9fd
    --dracula-green: #50fa7b
    --dracula-orange: #ffb86c
    --dracula-purple: #bd93f9
    --dracula-red: #ff5555
    --dracula-white: #f8f8f2
    --dracula-yellow: #f1fa8c

    --hover-shadow: 2px 2px 5px #282a36, -2px 2px 5px #282a36, 2px -2px 5px #282a36, -2px -2px 5px #282a36

    --heading-font-family: "Red Hat Display", Verdana, Geneva, Tahoma, sans-serif
    --text-font-family:    "Red Hat Text", Verdana, Geneva, Tahoma, sans-serif
    --mono-font-family:    "Red Hat Mono",'' 'Courier New', Courier, monospace

html
    background: #282a36
    background-image: repeating-linear-gradient(to bottom, #8be9fd 0 4px, #ff79c6 0 6px, transparent 1px 100%),repeating-linear-gradient(to right, #8be9fd 0 4px, #ff79c6 0 6px, transparent 1px 100%)
    background-size: 95px 95px
    min-height: 100vh
    font-family: var(--text-font-family)
    color: var(--dracula-white)
    font-size: 100%

body.dark-theme
    --txt-01: #f2f2f2
    --txt-02: #6272a4
    --txt-code: var(--dracula-purple)

    --link:       var(--dracula-yellow)
    --link-hover: var(--dracula-orange)

h1,h2,h3,h4,h5,h6
    font-family: var(--heading-font-family)

h1
    color: var(--dracula-green)

body
    background-color: rgba(40,42,54,.75)
    min-height: 100vh
    
    width: 100%
    padding: 10px
    display: flex
    flex-direction: column

ol,
ul
    list-style-position: inside

code 
    color: var(--txt-code)
    font-family: var(--mono-font-family)

a
    color: var(--link)
    text-decoration: none
    font-weight: 700
a:hover
    color: var(--link-hover)
    
app-root
    width: 100%
    height: 100%
    flex: 1

::-webkit-scrollbar
    width: 5px

::-webkit-scrollbar-thumb
    background: #F8F8F2
    border-radius: 8px

::-webkit-scrollbar-thumb:hover
    background: #BD93F9

@keyframes twitch
    0%,10%,20%
        transform: rotate(0deg)
    5%
        transform: rotate(0.02turn)
    15%
        transform: rotate(-0.02turn)